.container {
    background-color: #1B2838;
}
.container h1 {
    font-family: 'Doloman Pavljenko';
    text-transform: capitalize;
    font-weight: 300;
}
.button {
    width: 118px;
    height: 60px;
    background-color: #D9D9D9;
    border: none;
    border-radius: 29px;
    color: #064B9B;
}
