.container {
  width: 100%;
  height: 1280px;
  padding: 135px 140px 0 140px;
  background: linear-gradient(rgba(27, 40, 56, 1), rgba(27, 40, 56, 1)),
    url(./img/background.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background-blend-mode: multiply; */
}

.header {
  background: transparent;
  display: grid;
  grid-template-columns: auto 1fr auto; /* Создаем три колонки: auto, 1fr, auto */
  align-items: center; /* Выравниваем элементы по вертикали */
  width: 100%;
}
.logo {
  justify-self: start; /* Прижимаем первый элемент к началу колонки */
  margin-right: 328px;
  width: 118px;
  height: 60px;
  background-color: #d9d9d9;
  border: none;
  border-radius: 29px;
  color: #064b9b;
}
.nav {
  justify-self: center;
}
.auth {
  justify-self: end; /* Прижимаем третий элемент к концу колонки */
  margin-left: 107px;
}
