.container {
   background-image: url(./img/background.svg);
   width: 100%;
   height: 100%;
}
.header {
    background: transparent;
    display: grid;
    grid-template-columns: auto 1fr auto; /* Создаем три колонки: auto, 1fr, auto */
    align-items: center; /* Выравниваем элементы по вертикали */
    width: 100%; 

}
.logo{
    justify-self: start; /* Прижимаем первый элемент к началу колонки */
    margin-right: 328px;
}
.nav{
    justify-self: center;
}
.auth{
    justify-self: end; /* Прижимаем третий элемент к концу колонки */
    margin-left: 30px;
}
.button {
    width: 118px;
    height: 60px;
    background-color: #D9D9D9;
    border: none;
    border-radius: 29px;
    color: #064B9B;
}
