@font-face {
    font-family: 'Doloman Pavljenko';
    src: url('/fonts/DolomanPavljenco.otf') format('otf'),
         url('/fonts/DolomanPavljenco.otf') format('otf');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
     font-family: 'Doloman Pavljenko';
     src: url('/fonts/DolomanPavljenco.otf') format('otf'),
          url('/fonts/DolomanPavljenco.otf') format('otf');
     font-weight: normal;
     font-style: normal;
   }