@import "tailwindcss";

* {
  font-family: 'Doloman Pavljenko';
}

h1 {
  font-family: 'Intro Friday', sans-serif;
  font-size: 3.39vw;
  line-height: 1.2;
  color: white;
  /* font-weight: bold; */
  text-transform: uppercase;
}

p {
  font-size: 2.08vw;
  line-height: 2.08vw;
  font-weight: 300;
}