.aboutus {
    width: 100%;
    height: auto;
    padding: 7.03vw 7.29vw 15.63vw 7.29vw;
    background-image: url(./background.svg);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    border-bottom-right-radius: 4.17vw;
    border-bottom-left-radius: 4.17vw;
}